* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #333;
  max-width: 1366px;
  overflow: hidden;
  animation: bgc 3s 9.5s linear both, bgc_2 3s 23s linear both,
    bgc_3 3s 43s linear both;
}

h1 {
  position: relative;
  margin: 10vh 0 10vh 0;
  text-align: center;
  font-family: monospace;
  overflow: hidden;
  color: #fff;
  animation: bgc 3s 9.5s linear both, bgc_2 3s 23s linear both,
    bgc_3 3s 43s linear both;
}

h1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  height: 100%;
  width: 100%;
  border-left: 2px solid #bbb;
  background-color: #333;
  animation: writing 9s steps(76, start) forwards 1, flash 1s linear infinite,
    bgc 3s 9.5s linear both, bgc_2 3s 23s linear both,
    writing_back 7s 35s steps(76, start) forwards 1, bgc_3 3s 43s linear both;
}

div {
  position: absolute;
}

div.image_1 {
  top: 20%;
  left: -100%;
  background-image: url(bird.png);
  width: 351px;
  height: 320px;
  animation: run 1.3s steps(9, start) infinite, run_1 20s 4s infinite linear,
    disappear 5s 25s linear forwards 1;
}

div.image_2 {
  top: 45%;
  left: 10%;
  background-image: url(dandelion_girl.png);
  width: 300px;
  height: 316px;
  animation: appear 22s linear forwards 1, disappear 5s 28s linear forwards 1;
}

div.image_3 {
  top: 17%;
  left: 18%;
  background-image: url(dandelion2.png);
  width: 967px;
  height: 376px;
  transform: rotate(184deg);
  animation: appear 26s linear forwards 1, run_1 7s 26s linear forwards 1;
}

div.image_4 {
  top: 2%;
  left: 110%;
  background-image: url(dandelion1.png);
  width: 200px;
  height: 163px;
  transform: rotate(26deg);
  animation: appear 35s linear forwards 1, run_2 12s 34s linear forwards 1;
}

div.image_5 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(dandelion1.png);
  width: 200px;
  height: 163px;
  animation: appear 50s linear forwards 1;
  cursor: pointer;
}

@keyframes writing {
  100% {
    left: 93%;
  }
}

@keyframes writing_back {
  100% {
    left: 5%;
  }
}

@keyframes flash {
  40% {
    border-color: #bbb;
  }

  60% {
    border-color: #bbb;
  }

  80% {
    border-color: transparent;
  }

  90% {
    border-color: transparent;
  }

  95% {
    border-color: #bbb;
  }

  100% {
    border-color: #bbb;
  }
}

@keyframes run {
  100% {
    background-position: -3160px 0;
  }
}

@keyframes run_1 {
  100% {
    left: 150%;
  }
}

@keyframes run_2 {
  100% {
    left: -150%;
  }
}

@keyframes bgc {
  1% {
    background-color: #fff;
    color: #333;
  }

  100% {
    background-color: #fff;
    color: #333;
  }
}

@keyframes bgc_2 {
  1% {
    background-color: rgb(128, 26, 26);
    color: #fff;
  }

  100% {
    background-color: rgb(128, 26, 26);
    color: #fff;
  }
}

@keyframes bgc_3 {
  100% {
    background-color: #fff;
    border-left: 2px solid #fff;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0.9;
  }

  20% {
    opacity: 0.8;
  }

  30% {
    opacity: 0.7;
  }

  40% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.4;
  }

  70% {
    opacity: 0.3;
  }

  80% {
    opacity: 0.2;
  }

  90% {
    opacity: 0.1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  85% {
    opacity: 0;
  }

  86% {
    opacity: 0;
  }

  87% {
    opacity: 0;
  }

  88% {
    opacity: 0;
  }

  89% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  91% {
    opacity: 0.1;
  }

  92% {
    opacity: 0.2;
  }

  93% {
    opacity: 0.3;
  }

  94% {
    opacity: 0.4;
  }

  95% {
    opacity: 0.5;
  }

  96% {
    opacity: 0.6;
  }

  97% {
    opacity: 0.7;
  }

  98% {
    opacity: 0.8;
  }

  99% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 800px) and (orientation: landscape) {
  h1 {
    font-size: 3vh;
  }

  div.image_2,
  div.image_3,
  div.image_4 {
    background-repeat: no-repeat;
    background-size: 50%;
  }

  div.image_1 {
    width: calc(1264px / 9);
    height: 128px;
    background-image: url(bird_2.png);
  }

  div.image_3 {
    background-position: bottom right;
  }

  @keyframes run {
    100% {
      background-position: -1264px 0;
    }
  }
}

